######################
# Eclipse IDE
######################
.project
.classpath
.settings/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.war
